In [149]:
import pandas as pd

In [150]:
matches = pd.read_csv('matchsquad2019.csv')
players = pd.read_csv('playerdata2019.csv')

In [151]:
matches.head()

,Date,HomeTeam,AwayTeam,Played Value H,Played Value A,Total Value H,Total Value A,Attack H,Midfield H,Defense H,...,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,A_11
0,2018-08-10,Manchester United,Leicester City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ben Chilwell,Wes Morgan,Harry Maguire,Daniel Amartey,Demarai Gray,James Maddison,Ricardo Pereira,Adrien Silva,Wilfred Ndidi,Kelechi Iheanacho
1,2018-08-11,AFC Bournemouth,Cardiff City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Lee Peltier,Joe Bennett,Sean Morrison,Bruno Ecuele Manga,Joe Ralls,Callum Paterson,Nathaniel Mendez-Laing,Sol Bamba,David Junior Hoilett,Bobby De Cordova-Reid
2,2018-08-11,Fulham,Crystal Palace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Patrick van Aanholt,James Tomkins,Mamadou Sakho,Aaron Wan-Bissaka,Luka Milivojevic,Andros Townsend,Jeffrey Schlupp,James McArthur,Wilfried Zaha,Christian Benteke
3,2018-08-11,Huddersfield Town,Chelsea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Antonio Rüdiger,Marcos Alonso,César Azpilicueta,David Luiz,Jorginho,N'Golo Kanté,Ross Barkley,Willian,Pedro,Álvaro Morata
4,2018-08-11,Newcastle United,Tottenham Hotspur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Jan Vertonghen,Davinson Sánchez,Serge Aurier,Ben Davies,Eric Dier,Moussa Sissoko,Dele Alli,Christian Eriksen,Lucas Moura,Harry Kane

In [152]:
players.head()

   Unnamed: 0             Name  MarketValue     Position            Teams
0           0          Ederson     63000000   Goalkeeper  manchester-city
1           1    Claudio Bravo      2250000   Goalkeeper  manchester-city
2           2   Arijanet Muric      1800000   Goalkeeper  manchester-city
3           3  Daniel Grimshaw            0   Goalkeeper  manchester-city
4           4  Aymeric Laporte     67500000  Centre-Back  manchester-city

In [153]:
# First, match the team names between the two files using fuzzywuzzy

In [154]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process as fuzzprocess

In [155]:
teams_matches=matches['HomeTeam'].unique().tolist()

In [156]:
#Check that there are twenty teams
len(teams_matches)

20

In [157]:
teams_matches

['Manchester United',
 'AFC Bournemouth',
 'Fulham',
 'Huddersfield Town',
 'Newcastle United',
 'Watford',
 'Wolverhampton Wanderers',
 'Arsenal',
 'Liverpool',
 'Southampton',
 'Cardiff City',
 'Chelsea',
 'Everton',
 'Leicester City',
 'Tottenham Hotspur',
 'West Ham United',
 'Brighton and Hove Albion',
 'Burnley',
 'Manchester City',
 'Crystal Palace']

In [158]:
teams_players=players['Teams'].unique().tolist()

In [159]:
len(teams_players)

20

In [160]:
teams_players

['manchester-city',
 'fc-chelsea',
 'fc-liverpool',
 'manchester-united',
 'tottenham-hotspur',
 'fc-arsenal',
 'fc-everton',
 'leicester-city',
 'west-ham-united',
 'fc-southampton',
 'crystal-palace',
 'fc-fulham',
 'newcastle-united',
 'fc-burnley',
 'afc-bournemouth',
 'brighton-amp-hove-albion',
 'fc-watford',
 'wolverhampton-wanderers',
 'huddersfield-town',
 'cardiff-city']

In [161]:
#Check that the scores are looking good
for i in range(0,20):
    print("The score between team "+teams_matches[0]+" and team "+teams_players[i]+" is: "+str(fuzz.ratio(teams_matches[0],teams_players[i])))

The score between team Manchester United and team manchester-city is: 69
The score between team Manchester United and team fc-chelsea is: 37
The score between team Manchester United and team fc-liverpool is: 21
The score between team Manchester United and team manchester-united is: 82
The score between team Manchester United and team tottenham-hotspur is: 24
The score between team Manchester United and team fc-arsenal is: 30
The score between team Manchester United and team fc-everton is: 37
The score between team Manchester United and team leicester-city is: 52
The score between team Manchester United and team west-ham-united is: 50
The score between team Manchester United and team fc-southampton is: 26
The score between team Manchester United and team crystal-palace is: 26
The score between team Manchester United and team fc-fulham is: 15
The score between team Manchester United and team newcastle-united is: 61
The score between team Manchester United and team fc-burnley is: 30
The score between team Manchester United and team afc-bournemouth is: 31
The score between team Manchester United and team brighton-amp-hove-albion is: 20
The score between team Manchester United and team fc-watford is: 30
The score between team Manchester United and team wolverhampton-wanderers is: 25
The score between team Manchester United and team huddersfield-town is: 35
The score between team Manchester United and team cardiff-city is: 28

In [162]:
teamNameDict={}
for i in range(0,20):
    teamNameDict[teams_players[i]]=fuzzprocess.extract(teams_players[i],teams_matches,limit=1)[0][0]

In [163]:
teamNameDict

{'manchester-city': 'Manchester City',
 'fc-chelsea': 'Chelsea',
 'fc-liverpool': 'Liverpool',
 'manchester-united': 'Manchester United',
 'tottenham-hotspur': 'Tottenham Hotspur',
 'fc-arsenal': 'Arsenal',
 'fc-everton': 'Everton',
 'leicester-city': 'Leicester City',
 'west-ham-united': 'West Ham United',
 'fc-southampton': 'Southampton',
 'crystal-palace': 'Crystal Palace',
 'fc-fulham': 'Fulham',
 'newcastle-united': 'Newcastle United',
 'fc-burnley': 'Burnley',
 'afc-bournemouth': 'AFC Bournemouth',
 'brighton-amp-hove-albion': 'Brighton and Hove Albion',
 'fc-watford': 'Watford',
 'wolverhampton-wanderers': 'Wolverhampton Wanderers',
 'huddersfield-town': 'Huddersfield Town',
 'cardiff-city': 'Cardiff City'}

In [164]:
players['Teams']=players['Teams'].map(teamNameDict)

In [165]:
players

     Unnamed: 0             Name  MarketValue        Position            Teams
0             0          Ederson     63000000      Goalkeeper  Manchester City
1             1    Claudio Bravo      2250000      Goalkeeper  Manchester City
2             2   Arijanet Muric      1800000      Goalkeeper  Manchester City
3             3  Daniel Grimshaw            0      Goalkeeper  Manchester City
4             4  Aymeric Laporte     67500000     Centre-Back  Manchester City
..          ...              ...          ...             ...              ...
764          30      Gary Madine      3600000  Centre-Forward     Cardiff City
765          31       Danny Ward      1350000  Centre-Forward     Cardiff City
766          32       Omar Bogle       450000  Centre-Forward     Cardiff City
767          33      Rhys Healey       225000  Centre-Forward     Cardiff City
768          34       Jack McKay            0  Centre-Forward     Cardiff City

[769 rows x 5 columns]

In [166]:
totalValues={}

In [167]:
for i in range(0,20):
    temp=players['Teams']==teams_matches[i]
    totalValues[teams_matches[i]]=sum(players[temp]['MarketValue'])

In [168]:
matches['Total Value H']=matches['HomeTeam'].map(totalValues)

In [169]:
matches['Total Value A']=matches['AwayTeam'].map(totalValues)

In [171]:
matches

,Date,HomeTeam,AwayTeam,Played Value H,Played Value A,Total Value H,Total Value A,Attack H,Midfield H,Defense H,...,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,A_11
0,2018-08-10,Manchester United,Leicester City,NaN,NaN,717840000,390690000,NaN,NaN,NaN,...,Ben Chilwell,Wes Morgan,Harry Maguire,Daniel Amartey,Demarai Gray,James Maddison,Ricardo Pereira,Adrien Silva,Wilfred Ndidi,Kelechi Iheanacho
1,2018-08-11,AFC Bournemouth,Cardiff City,NaN,NaN,278955000,101700000,NaN,NaN,NaN,...,Lee Peltier,Joe Bennett,Sean Morrison,Bruno Ecuele Manga,Joe Ralls,Callum Paterson,Nathaniel Mendez-Laing,Sol Bamba,David Junior Hoilett,Bobby De Cordova-Reid
2,2018-08-11,Fulham,Crystal Palace,NaN,NaN,228830000,260100000,NaN,NaN,NaN,...,Patrick van Aanholt,James Tomkins,Mamadou Sakho,Aaron Wan-Bissaka,Luka Milivojevic,Andros Townsend,Jeffrey Schlupp,James McArthur,Wilfried Zaha,Christian Benteke
3,2018-08-11,Huddersfield Town,Chelsea,NaN,NaN,123705000,1049990000,NaN,NaN,NaN,...,Antonio Rüdiger,Marcos Alonso,César Azpilicueta,David Luiz,Jorginho,N'Golo Kanté,Ross Barkley,Willian,Pedro,Álvaro Morata
4,2018-08-11,Newcastle United,Tottenham Hotspur,NaN,NaN,220186000,808740000,NaN,NaN,NaN,...,Jan Vertonghen,Davinson Sánchez,Serge Aurier,Ben Davies,Eric Dier,Moussa Sissoko,Dele Alli,Christian Eriksen,Lucas Moura,Harry Kane
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-05-12,Liverpool,Wolverhampton Wanderers,NaN,NaN,1055160000,272615000,NaN,NaN,NaN,...,Ryan Bennett,Willy Boly,Conor Coady,Matt Doherty,Rúben Neves,Jonny,João Moutinho,Leander Dendoncker,Raúl Jiménez,Diogo Jota
376,2019-05-12,Manchester United,Cardiff City,NaN,NaN,717840000,101700000,NaN,NaN,NaN,...,Lee Peltier,Joe Bennett,Sean Morrison,Bruno Ecuele Manga,Leandro Bacuna,Josh Murphy,Aron Gunnarsson,Nathaniel Mendez-Laing,Kenneth Zohore,Bobby De Cordova-Reid
377,2019-05-12,Southampton,Huddersfield Town,NaN,NaN,274860000,123705000,NaN,NaN,NaN,...,Tommy Smith,Terence Kongolo,Christopher Schindler,Jon Gorenc Stankovic,Jonathan Hogg,Juninho Bacuna,Aaron Mooy,Alex Pritchard,Karlan Grant,Isaac Mbenza
378,2019-05-12,Tottenham Hotspur,Everton,NaN,NaN,808740000,476190000,NaN,NaN,NaN,...,Michael Keane,Kurt Zouma,Lucas Digne,Yerry Mina,Gylfi Sigurdsson,Theo Walcott,Idrissa Gueye,Morgan Schneiderlin,Bernard,Cenk Tosun
379,2019-05-12,Watford,West Ham United,NaN,NaN,215190000,323100000,NaN,NaN,NaN,...,Fabián Balbuena,Issa Diop,Ryan Fredericks,Arthur Masuaku,Felipe Anderson,Manuel Lanzini,Mark Noble,Michail Antonio,Declan Rice,Marko Arnautovic

In [172]:
def calculators(inputRow):
    dataContainer={}
    dataContainer['Played Value H']=0
    dataContainer['Played Value A']=0
    dataContainer['Defense H']=0
    dataContainer['Defense A']=0
    dataContainer['Attack H']=0
    dataContainer['Attack A']=0
    dataContainer['Midfield H']=0
    dataContainer['Midfield A']=0
    dataContainer['Goalie H']=0
    dataContainer['Goalie A']=0
    dataContainer['Attack Count H']=0
    dataContainer['Defense Count H']=0
    dataContainer['Goalie Count H']=0
    dataContainer['Midfield Count H']=0
    dataContainer['Attack Count A']=0
    dataContainer['Defense Count A']=0
    dataContainer['Goalie Count A']=0
    dataContainer['Midfield Count A']=0

    hometeam=inputRow['HomeTeam']
    awayteam=inputRow['AwayTeam']
    homeTeamPlayers=players[players['Teams']==hometeam]
    awayTeamPlayers=players[players['Teams']==awayteam]
    homeTeamPlayerList=homeTeamPlayers['Name'].tolist()
    awayTeamPlayerList=awayTeamPlayers['Name'].tolist()

    playedHome=inputRow[42:53].tolist()
    playedAway=inputRow[53:64].tolist()


    for i in range(0,11):
        standardNameH=fuzzprocess.extract(playedHome[i],homeTeamPlayerList)[0][0]
        standardNameA=fuzzprocess.extract(playedAway[i],awayTeamPlayerList)[0][0]

        homeRow=homeTeamPlayers[homeTeamPlayers['Name']==standardNameH]
        awayRow=awayTeamPlayers[awayTeamPlayers['Name']==standardNameA]

        dataContainer['Played Value H']+= homeRow['MarketValue'].values[0]
        dataContainer['Played Value A']+= awayRow['MarketValue'].values[0]

        if homeRow['Position'].values[0] in ['Centre-Back','Left-Back','Right-Back']:
            dataContainer['Defense H']+=homeRow['MarketValue'].values[0]
            dataContainer['Defense Count H']+=1
        elif homeRow['Position'].values[0] in ['Left Winger', 'Right Winger', 'Centre-Forward', 'Forward']:
            dataContainer['Attack H']+=homeRow['MarketValue'].values[0]
            dataContainer['Attack Count H']+=1
        elif homeRow['Position'].values[0]=='Goalkeeper':
            dataContainer['Goalie H']+=homeRow['MarketValue'].values[0]
            dataContainer['Goalie Count H']+=1
        else:
            dataContainer['Midfield H']+=homeRow['MarketValue'].values[0]
            dataContainer['Midfield Count H']+=1

        if awayRow['Position'].values[0] in ['Centre-Back','Left-Back','Right-Back']:
            dataContainer['Defense A']+=awayRow['MarketValue'].values[0]
            dataContainer['Defense Count A']+=1
        elif awayRow['Position'].values[0] in ['Left Winger', 'Right Winger', 'Centre-Forward', 'Forward']:
            dataContainer['Attack A']+=awayRow['MarketValue'].values[0]
            dataContainer['Attack Count A']+=1
        elif awayRow['Position'].values[0]=='Goalkeeper':
            dataContainer['Goalie A']+=awayRow['MarketValue'].values[0]
            dataContainer['Goalie Count A']+=1
        else:
            dataContainer['Midfield A']+=awayRow['MarketValue'].values[0]
            dataContainer['Midfield Count A']+=1

    return dataContainer

In [173]:
players['Name'] = players['Name'].astype('|S')

In [174]:
matches[list(matches)[-22:]]=matches[list(matches)[-22:]].astype(str)

In [175]:
for i in matches.index:
    dataTemp=calculators(matches.loc[i])
    for key in dataTemp.keys(): 
        matches.at[i,key] = dataTemp[key]

In [176]:
matches=matches.drop(['Referee'],axis=1)

In [177]:
matches=matches.drop(matches.columns[41:],axis=1)

In [178]:
test=matches
for i in range(3,15):
    indicies=matches[matches.iloc[:,i]==0].index
    if indicies.all()!=None:
        test.drop(indicies,inplace=True)
test.drop(test.iloc[:,15:23],axis=1,inplace=True)

In [179]:
test

,Date,HomeTeam,AwayTeam,Played Value H,Played Value A,Total Value H,Total Value A,Attack H,Midfield H,Defense H,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2018-08-10,Manchester United,Leicester City,396000000.0,225900000.0,717840000,390690000,103500000.0,144000000.0,90000000.0,...,6,4,11,8,2,5,2,1,0,0
1,2018-08-11,AFC Bournemouth,Cardiff City,155700000.0,44100000.0,278955000,101700000,81000000.0,23400000.0,45000000.0,...,4,1,11,9,7,4,1,1,0,0
2,2018-08-11,Fulham,Crystal Palace,144450000.0,166500000.0,228830000,260100000,22500000.0,61200000.0,57150000.0,...,6,9,9,11,5,5,1,2,0,0
3,2018-08-11,Huddersfield Town,Chelsea,72000000.0,459000000.0,123705000,1049990000,9000000.0,30150000.0,32400000.0,...,1,4,9,8,2,5,2,1,0,0
4,2018-08-11,Newcastle United,Tottenham Hotspur,96300000.0,536400000.0,220186000,808740000,30600000.0,18000000.0,41400000.0,...,2,5,11,12,3,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-05-12,Liverpool,Wolverhampton Wanderers,688500000.0,204300000.0,1055160000,272615000,261000000.0,121500000.0,234000000.0,...,5,2,3,11,4,1,0,2,0,0
376,2019-05-12,Manchester United,Cardiff City,334800000.0,50400000.0,717840000,101700000,72000000.0,150300000.0,54000000.0,...,10,4,9,6,11,2,3,3,0,0
377,2019-05-12,Southampton,Huddersfield Town,126000000.0,60300000.0,274860000,123705000,37800000.0,38700000.0,40500000.0,...,3,3,8,6,4,3,0,1,0,0
378,2019-05-12,Tottenham Hotspur,Everton,369000000.0,252900000.0,808740000,476190000,55350000.0,193500000.0,97650000.0,...,3,9,10,13,7,4,0,2,0,0
379,2019-05-12,Watford,West Ham United,109800000.0,203400000.0,215190000,323100000,31500000.0,57600000.0,18000000.0,...,8,9,10,10,7,2,1,0,1,0

In [180]:
test.isna().any()

Date              False
HomeTeam          False
AwayTeam          False
Played Value H    False
Played Value A    False
Total Value H     False
Total Value A     False
Attack H          False
Midfield H        False
Defense H         False
Goalie H          False
Attack A          False
Midfield A        False
Defense A         False
Goalie A          False
FTHG              False
FTAG              False
FTR               False
HTHG              False
HTAG              False
HTR               False
HS                False
AS                False
HST               False
AST               False
HF                False
AF                False
HC                False
AC                False
HY                False
AY                False
HR                False
AR                False
dtype: bool

In [181]:
test.to_csv('test.csv')