In [61]:
import pandas as pd

In [62]:
matches = pd.read_csv('matchsquad2017.csv')
players = pd.read_csv('playerdata2017.csv')

In [63]:
matches.head()

,Date,HomeTeam,AwayTeam,Played Value H,Played Value A,Total Value H,Total Value A,Attack H,Midfield H,Defense H,...,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,A_11
0,2016-08-13,Burnley,Swansea City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Jordi Amat,Federico Fernández,Kyle Naughton,Stephen Kingsley,Leon Britton,Leroy Fer,Jack Cork,Fernando Llorente,Wayne Routledge,Modou Barrow
1,2016-08-13,Crystal Palace,West Bromwich Albion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Jonas Olsson,Jonny Evans,Gareth McAuley,Craig Dawson,Claudio Yacob,Craig Gardner,Matt Phillips,Darren Fletcher,Salomón Rondón,Saido Berahino
2,2016-08-13,Everton,Tottenham Hotspur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Kyle Walker,Danny Rose,Toby Alderweireld,Jan Vertonghen,Erik Lamela,Victor Wanyama,Eric Dier,Dele Alli,Christian Eriksen,Harry Kane
3,2016-08-13,Hull City,Leicester City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Danny Simpson,Luis Hernández,Wes Morgan,Christian Fuchs,Danny Drinkwater,Demarai Gray,Andy King,Riyad Mahrez,Jamie Vardy,Ahmed Musa
4,2016-08-13,Manchester City,Sunderland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Patrick van Aanholt,Younes Kaboul,Donald Love,Lamine Koné,Jack Rodwell,Fabio Borini,Duncan Watmore,John O'Shea,Lynden Gooch,Jermain Defoe

In [64]:
players.head()

   Unnamed: 0             Name  MarketValue     Position            Teams
0           0         Joe Hart     11700000   Goalkeeper  manchester-city
1           1    Claudio Bravo      7200000   Goalkeeper  manchester-city
2           2  Willy Caballero      1350000   Goalkeeper  manchester-city
3           3       Angus Gunn       225000   Goalkeeper  manchester-city
4           4      John Stones     31500000  Centre-Back  manchester-city

In [65]:
# First, match the team names between the two files using fuzzywuzzy

In [66]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process as fuzzprocess

In [67]:
teams_matches=matches['HomeTeam'].unique().tolist()

In [68]:
#Check that there are twenty teams
len(teams_matches)

20

In [69]:
teams_matches

['Burnley',
 'Crystal Palace',
 'Everton',
 'Hull City',
 'Manchester City',
 'Middlesbrough',
 'Southampton',
 'Arsenal',
 'AFC Bournemouth',
 'Chelsea',
 'Manchester United',
 'Leicester City',
 'Stoke City',
 'Swansea City',
 'Tottenham Hotspur',
 'Watford',
 'West Bromwich Albion',
 'Sunderland',
 'West Ham United',
 'Liverpool']

In [73]:
teams_players=players['Teams'].unique().tolist()

In [74]:
len(teams_players)

20

In [75]:
teams_players

['manchester-city',
 'fc-chelsea',
 'manchester-united',
 'fc-arsenal',
 'fc-liverpool',
 'tottenham-hotspur',
 'fc-everton',
 'west-ham-united',
 'crystal-palace',
 'fc-southampton',
 'stoke-city',
 'fc-watford',
 'leicester-city',
 'swansea-city',
 'hull-city',
 'fc-middlesbrough',
 'west-bromwich-albion',
 'afc-sunderland',
 'afc-bournemouth',
 'fc-burnley']

In [77]:
#Check that the scores are looking good
for i in range(0,20):
    print("The score between team "+teams_matches[0]+" and team "+teams_players[i]+" is: "+str(fuzz.ratio(teams_matches[0],teams_players[i])))

The score between team Burnley and team manchester-city is: 27
The score between team Burnley and team fc-chelsea is: 24
The score between team Burnley and team manchester-united is: 25
The score between team Burnley and team fc-arsenal is: 35
The score between team Burnley and team fc-liverpool is: 21
The score between team Burnley and team tottenham-hotspur is: 17
The score between team Burnley and team fc-everton is: 24
The score between team Burnley and team west-ham-united is: 27
The score between team Burnley and team crystal-palace is: 29
The score between team Burnley and team fc-southampton is: 19
The score between team Burnley and team stoke-city is: 24
The score between team Burnley and team fc-watford is: 12
The score between team Burnley and team leicester-city is: 29
The score between team Burnley and team swansea-city is: 32
The score between team Burnley and team hull-city is: 38
The score between team Burnley and team fc-middlesbrough is: 17
The score between team Burnley and team west-bromwich-albion is: 15
The score between team Burnley and team afc-sunderland is: 29
The score between team Burnley and team afc-bournemouth is: 36
The score between team Burnley and team fc-burnley is: 71

In [78]:
teamNameDict={}
for i in range(0,20):
    teamNameDict[teams_players[i]]=fuzzprocess.extract(teams_players[i],teams_matches,limit=1)[0][0]

In [79]:
teamNameDict

{'manchester-city': 'Manchester City',
 'fc-chelsea': 'Chelsea',
 'manchester-united': 'Manchester United',
 'fc-arsenal': 'Arsenal',
 'fc-liverpool': 'Liverpool',
 'tottenham-hotspur': 'Tottenham Hotspur',
 'fc-everton': 'Everton',
 'west-ham-united': 'West Ham United',
 'crystal-palace': 'Crystal Palace',
 'fc-southampton': 'Southampton',
 'stoke-city': 'Stoke City',
 'fc-watford': 'Watford',
 'leicester-city': 'Leicester City',
 'swansea-city': 'Swansea City',
 'hull-city': 'Hull City',
 'fc-middlesbrough': 'Middlesbrough',
 'west-bromwich-albion': 'West Bromwich Albion',
 'afc-sunderland': 'Sunderland',
 'afc-bournemouth': 'AFC Bournemouth',
 'fc-burnley': 'Burnley'}

In [84]:
players['Teams']=players['Teams'].map(teamNameDict)

In [86]:
players

,Unnamed: 0,Name,MarketValue,Position,Teams
0,0,Joe Hart,11700000,Goalkeeper,Manchester City
1,1,Claudio Bravo,7200000,Goalkeeper,Manchester City
2,2,Willy Caballero,1350000,Goalkeeper,Manchester City
3,3,Angus Gunn,225000,Goalkeeper,Manchester City
4,4,John Stones,31500000,Centre-Back,Manchester City
...,...,...,...,...,...
786,31,Rouwen Hennings,1350000,Centre-Forward,Burnley
787,32,Lukas Jutkiewicz,1350000,Centre-Forward,Burnley
788,33,Chris Long,900000,Centre-Forward,Burnley
789,34,Dan Agyei,68000,Centre-Forward,Burnley
790,35,Ntumba Massanka,0,Centre-Forward,Burnley

In [89]:
totalValues={}

In [94]:
for i in range(0,20):
    temp=players['Teams']==teams_matches[i]
    totalValues[teams_matches[i]]=sum(players[temp]['MarketValue'])

In [98]:
matches['Total Value H']=matches['HomeTeam'].map(totalValues)

In [246]:
matches['Total Value A']=matches['AwayTeam'].map(totalValues)

In [247]:
matches

,Date,HomeTeam,AwayTeam,Played Value H,Played Value A,Total Value H,Total Value A,Attack H,Midfield H,Defense H,...,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,A_11
0,2016-08-13,Burnley,Swansea City,NaN,NaN,96458000,141390000,NaN,NaN,NaN,...,Jordi Amat,Federico Fernández,Kyle Naughton,Stephen Kingsley,Leon Britton,Leroy Fer,Jack Cork,Fernando Llorente,Wayne Routledge,Modou Barrow
1,2016-08-13,Crystal Palace,West Bromwich Albion,NaN,NaN,205583000,110880000,NaN,NaN,NaN,...,Jonas Olsson,Jonny Evans,Gareth McAuley,Craig Dawson,Claudio Yacob,Craig Gardner,Matt Phillips,Darren Fletcher,Salomón Rondón,Saido Berahino
2,2016-08-13,Everton,Tottenham Hotspur,NaN,NaN,280125000,489285000,NaN,NaN,NaN,...,Kyle Walker,Danny Rose,Toby Alderweireld,Jan Vertonghen,Erik Lamela,Victor Wanyama,Eric Dier,Dele Alli,Christian Eriksen,Harry Kane
3,2016-08-13,Hull City,Leicester City,NaN,NaN,122265000,196785000,NaN,NaN,NaN,...,Danny Simpson,Luis Hernández,Wes Morgan,Christian Fuchs,Danny Drinkwater,Demarai Gray,Andy King,Riyad Mahrez,Jamie Vardy,Ahmed Musa
4,2016-08-13,Manchester City,Sunderland,NaN,NaN,546030000,118800000,NaN,NaN,NaN,...,Patrick van Aanholt,Younes Kaboul,Donald Love,Lamine Koné,Jack Rodwell,Fabio Borini,Duncan Watmore,John O'Shea,Lynden Gooch,Jermain Defoe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2017-05-21,Liverpool,Middlesbrough,NaN,NaN,383090000,115925000,NaN,NaN,NaN,...,Fabio,George Friend,Ben Gibson,Calum Chambers,Grant Leadbitter,Adam Clayton,Adam Forshaw,Patrick Bamford,Rudy Gestede,Stewart Downing
376,2017-05-21,Manchester United,Crystal Palace,NaN,NaN,478305000,205583000,NaN,NaN,NaN,...,Joel Ward,James Tomkins,Jeffrey Schlupp,Martin Kelly,Luka Milivojevic,James McArthur,Jason Puncheon,Patrick van Aanholt,Wilfried Zaha,Christian Benteke
377,2017-05-21,Southampton,Stoke City,NaN,NaN,237375000,167400000,NaN,NaN,NaN,...,Bruno Martins Indi,Ryan Shawcross,Geoff Cameron,Erik Pieters,Joe Allen,Glenn Whelan,Mame Biram Diouf,Xherdan Shaqiri,Peter Crouch,Ramadan Sobhi
378,2017-05-21,Swansea City,West Bromwich Albion,NaN,NaN,141390000,110880000,NaN,NaN,NaN,...,Jonny Evans,Marc Wilson,Craig Dawson,Allan-Roméo Nyom,Claudio Yacob,Jake Livermore,Chris Brunt,Darren Fletcher,James Morrison,Salomón Rondón
379,2017-05-21,Watford,Manchester City,NaN,NaN,158090000,546030000,NaN,NaN,NaN,...,Vincent Kompany,Gaël Clichy,Fernandinho,Nicolás Otamendi,Gabriel Jesus,Kevin De Bruyne,Leroy Sané,David Silva,Yaya Touré,Sergio Agüero

In [248]:
def calculators(inputRow):
    dataContainer={}
    dataContainer['Played Value H']=0
    dataContainer['Played Value A']=0
    dataContainer['Defense H']=0
    dataContainer['Defense A']=0
    dataContainer['Attack H']=0
    dataContainer['Attack A']=0
    dataContainer['Midfield H']=0
    dataContainer['Midfield A']=0
    dataContainer['Goalie H']=0
    dataContainer['Goalie A']=0
    dataContainer['Attack Count H']=0
    dataContainer['Defense Count H']=0
    dataContainer['Goalie Count H']=0
    dataContainer['Midfield Count H']=0
    dataContainer['Attack Count A']=0
    dataContainer['Defense Count A']=0
    dataContainer['Goalie Count A']=0
    dataContainer['Midfield Count A']=0

    hometeam=inputRow['HomeTeam']
    awayteam=inputRow['AwayTeam']
    homeTeamPlayers=players[players['Teams']==hometeam]
    awayTeamPlayers=players[players['Teams']==awayteam]
    homeTeamPlayerList=homeTeamPlayers['Name'].tolist()
    awayTeamPlayerList=awayTeamPlayers['Name'].tolist()

    playedHome=inputRow[42:53].tolist()
    playedAway=inputRow[53:64].tolist()


    for i in range(0,11):
        standardNameH=fuzzprocess.extract(playedHome[i],homeTeamPlayerList)[0][0]
        standardNameA=fuzzprocess.extract(playedAway[i],awayTeamPlayerList)[0][0]

        homeRow=homeTeamPlayers[homeTeamPlayers['Name']==standardNameH]
        awayRow=awayTeamPlayers[awayTeamPlayers['Name']==standardNameA]

        dataContainer['Played Value H']+= homeRow['MarketValue'].values[0]
        dataContainer['Played Value A']+= awayRow['MarketValue'].values[0]

        if homeRow['Position'].values[0] in ['Centre-Back','Left-Back','Right-Back']:
            dataContainer['Defense H']+=homeRow['MarketValue'].values[0]
            dataContainer['Defense Count H']+=1
        elif homeRow['Position'].values[0] in ['Left Winger', 'Right Winger', 'Centre-Forward', 'Forward']:
            dataContainer['Attack H']+=homeRow['MarketValue'].values[0]
            dataContainer['Attack Count H']+=1
        elif homeRow['Position'].values[0]=='Goalkeeper':
            dataContainer['Goalie H']+=homeRow['MarketValue'].values[0]
            dataContainer['Goalie Count H']+=1
        else:
            dataContainer['Midfield H']+=homeRow['MarketValue'].values[0]
            dataContainer['Midfield Count H']+=1

        if awayRow['Position'].values[0] in ['Centre-Back','Left-Back','Right-Back']:
            dataContainer['Defense A']+=awayRow['MarketValue'].values[0]
            dataContainer['Defense Count A']+=1
        elif awayRow['Position'].values[0] in ['Left Winger', 'Right Winger', 'Centre-Forward', 'Forward']:
            dataContainer['Attack A']+=awayRow['MarketValue'].values[0]
            dataContainer['Attack Count A']+=1
        elif awayRow['Position'].values[0]=='Goalkeeper':
            dataContainer['Goalie A']+=awayRow['MarketValue'].values[0]
            dataContainer['Goalie Count A']+=1
        else:
            dataContainer['Midfield A']+=awayRow['MarketValue'].values[0]
            dataContainer['Midfield Count A']+=1

    return dataContainer

In [292]:
for i in matches.index:
    dataTemp=calculators(matches.loc[i])
    for key in dataTemp.keys(): 
        matches.at[i,key] = dataTemp[key]

In [287]:
players['Name'] = players['Name'].astype('|S')

In [291]:
matches[list(matches)[-22:]]=matches[list(matches)[-22:]].astype(str)

In [295]:
matches.to_csv('test.csv')

In [284]:
list(matches)[-22:]

['H_1',
 'H_2',
 'H_3',
 'H_4',
 'H_5',
 'H_6',
 'H_7',
 'H_8',
 'H_9',
 'H_10',
 'H_11',
 'A_1',
 'A_2',
 'A_3',
 'A_4',
 'A_5',
 'A_6',
 'A_7',
 'A_8',
 'A_9',
 'A_10',
 'A_11']

In [285]:
matches1=matches

In [286]:
matches1[list(matches)[-22:]].astype(str)

,H_1,H_2,H_3,H_4,H_5,H_6,H_7,H_8,H_9,H_10,...,A_2,A_3,A_4,A_5,A_6,A_7,A_8,A_9,A_10,A_11
0,Tom Heaton,Matthew Lowton,Michael Keane,Ben Mee,Stephen Ward,Dean Marney,David Jones,George Boyd,Scott Arfield,Andre Gray,...,Jordi Amat,Federico Fernández,Kyle Naughton,Stephen Kingsley,Leon Britton,Leroy Fer,Jack Cork,Fernando Llorente,Wayne Routledge,Modou Barrow
1,Wayne Hennessey,Joel Ward,Scott Dann,Pape Souaré,Damien Delaney,Andros Townsend,Wilfried Zaha,Lee Chung-Yong,Mile Jedinak,Jason Puncheon,...,Jonas Olsson,Jonny Evans,Gareth McAuley,Craig Dawson,Claudio Yacob,Craig Gardner,Matt Phillips,Darren Fletcher,Salomón Rondón,Saido Berahino
2,Maarten Stekelenburg,Phil Jagielka,Ramiro Funes Mori,Mason Holgate,Leighton Baines,James McCarthy,Idrissa Gueye,Gareth Barry,Gerard Deulofeu,Ross Barkley,...,Kyle Walker,Danny Rose,Toby Alderweireld,Jan Vertonghen,Erik Lamela,Victor Wanyama,Eric Dier,Dele Alli,Christian Eriksen,Harry Kane
3,Eldin Jakupovic,Andrew Robertson,Curtis Davies,Jake Livermore,Ahmed El Mohamady,Tom Huddlestone,David Meyler,Sam Clucas,Robert Snodgrass,Abel Hernández,...,Danny Simpson,Luis Hernández,Wes Morgan,Christian Fuchs,Danny Drinkwater,Demarai Gray,Andy King,Riyad Mahrez,Jamie Vardy,Ahmed Musa
4,Willy Caballero,Bacary Sagna,John Stones,Aleksandar Kolarov,Gaël Clichy,Raheem Sterling,Nolito,Kevin De Bruyne,David Silva,Fernandinho,...,Patrick van Aanholt,Younes Kaboul,Donald Love,Lamine Koné,Jack Rodwell,Fabio Borini,Duncan Watmore,John O'Shea,Lynden Gooch,Jermain Defoe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Simon Mignolet,Nathaniel Clyne,Dejan Lovren,James Milner,Joel Matip,Philippe Coutinho,Georginio Wijnaldum,Adam Lallana,Emre Can,Roberto Firmino,...,Fabio,George Friend,Ben Gibson,Calum Chambers,Grant Leadbitter,Adam Clayton,Adam Forshaw,Patrick Bamford,Rudy Gestede,Stewart Downing
376,Joel Pereira,Eric Bailly,Phil Jones,Timothy Fosu-Mensah,Demetri Mitchell,Paul Pogba,Axel Tuanzebe,Scott McTominay,Josh Harrop,Wayne Rooney,...,Joel Ward,James Tomkins,Jeffrey Schlupp,Martin Kelly,Luka Milivojevic,James McArthur,Jason Puncheon,Patrick van Aanholt,Wilfried Zaha,Christian Benteke
377,Fraser Forster,Cédric Soares,Maya Yoshida,Ryan Bertrand,Jack Stephens,Oriol Romeu,James Ward-Prowse,Steven Davis,Nathan Redmond,Dusan Tadic,...,Bruno Martins Indi,Ryan Shawcross,Geoff Cameron,Erik Pieters,Joe Allen,Glenn Whelan,Mame Biram Diouf,Xherdan Shaqiri,Peter Crouch,Ramadan Sobhi
378,Kristoffer Nordfeldt,Martin Olsson,Alfie Mawson,Federico Fernández,Kyle Naughton,Leon Britton,Leroy Fer,Tom Carroll,Fernando Llorente,Jordan Ayew,...,Jonny Evans,Marc Wilson,Craig Dawson,Allan-Roméo Nyom,Claudio Yacob,Jake Livermore,Chris Brunt,Darren Fletcher,James Morrison,Salomón Rondón
379,Heurelho Gomes,Daryl Janmaat,Valon Behrami,José Holebas,Brandon Mason,Nordin Amrabat,Tom Cleverley,Abdoulaye Doucouré,Etienne Capoue,M'Baye Niang,...,Vincent Kompany,Gaël Clichy,Fernandinho,Nicolás Otamendi,Gabriel Jesus,Kevin De Bruyne,Leroy Sané,David Silva,Yaya Touré,Sergio Agüero